@import url(https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);

body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 5.1rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 8.16rem;
}
.display-2 {
  font-family: 'cerebrisans-semibold';
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'cerebrisans-semibold';
  font-size: 0.8rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.28rem;
}
.display-5 {
  font-family: 'cerebrisans-semibold';
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'cerebrisans-semibold';
  font-size: 1.1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.76rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.08rem;
    font-size: calc( 2.4349999999999996rem + (5.1 - 2.4349999999999996) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.4349999999999996rem + (5.1 - 2.4349999999999996) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #149dcc !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #02031d !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #02031d !important;
  border-color: #02031d !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #02031d;
  border-color: #02031d;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #02031d !important;
  border-color: #02031d !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #149dcc !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #02031d !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0b566f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #000000 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #02031d;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #149dcc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #8d91f7;
}
/* Scroll to top button*/
.form-control {
  font-family: 'cerebrisans-semibold';
  font-size: 1.1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.76rem;
}
blockquote {
  border-color: #149dcc;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #149dcc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #149dcc;
}
/* Headers*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #149dcc;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #149dcc;
  border-bottom-color: #149dcc;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #149dcc !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section) {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23149dcc' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-rGuQTaqLYd .navbar {
  background: #02031d;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-rGuQTaqLYd .navbar-dropdown.bg-color.transparent.opened {
  background: #02031d;
}
.cid-rGuQTaqLYd a {
  font-style: normal;
}
.cid-rGuQTaqLYd .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rGuQTaqLYd .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rGuQTaqLYd .nav-item:focus,
.cid-rGuQTaqLYd .nav-link:focus {
  outline: none;
}
.cid-rGuQTaqLYd .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rGuQTaqLYd .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rGuQTaqLYd .menu-logo {
  margin-right: auto;
}
.cid-rGuQTaqLYd .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rGuQTaqLYd .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rGuQTaqLYd .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rGuQTaqLYd .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rGuQTaqLYd .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rGuQTaqLYd .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rGuQTaqLYd .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rGuQTaqLYd .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rGuQTaqLYd .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rGuQTaqLYd .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rGuQTaqLYd .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rGuQTaqLYd .dropdown .dropdown-menu {
  background: #02031d;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rGuQTaqLYd .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rGuQTaqLYd .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rGuQTaqLYd .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rGuQTaqLYd .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rGuQTaqLYd .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rGuQTaqLYd .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rGuQTaqLYd .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rGuQTaqLYd .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rGuQTaqLYd .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rGuQTaqLYd .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rGuQTaqLYd .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rGuQTaqLYd button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rGuQTaqLYd button.navbar-toggler:focus {
  outline: none;
}
.cid-rGuQTaqLYd button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rGuQTaqLYd button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rGuQTaqLYd button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rGuQTaqLYd button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rGuQTaqLYd button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rGuQTaqLYd nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rGuQTaqLYd nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rGuQTaqLYd nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rGuQTaqLYd nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rGuQTaqLYd .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rGuQTaqLYd .collapsed .btn {
  display: -webkit-flex;
}
.cid-rGuQTaqLYd .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rGuQTaqLYd .collapsed .navbar-collapse.collapsing,
.cid-rGuQTaqLYd .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rGuQTaqLYd .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rGuQTaqLYd .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rGuQTaqLYd .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rGuQTaqLYd .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rGuQTaqLYd .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-rGuQTaqLYd .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-rGuQTaqLYd .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rGuQTaqLYd .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rGuQTaqLYd .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rGuQTaqLYd .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-rGuQTaqLYd .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-rGuQTaqLYd .collapsed button.navbar-toggler {
  display: block;
}
.cid-rGuQTaqLYd .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rGuQTaqLYd .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rGuQTaqLYd .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rGuQTaqLYd .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rGuQTaqLYd .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rGuQTaqLYd .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-rGuQTaqLYd.navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rGuQTaqLYd img {
    height: 3.8rem !important;
  }
  .cid-rGuQTaqLYd .btn {
    display: -webkit-flex;
  }
  .cid-rGuQTaqLYd button.navbar-toggler {
    display: block;
  }
  .cid-rGuQTaqLYd .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rGuQTaqLYd .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rGuQTaqLYd .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rGuQTaqLYd .navbar-collapse.collapsing,
  .cid-rGuQTaqLYd .navbar-collapse.show {
    display: block !important;
  }
  .cid-rGuQTaqLYd .navbar-collapse.collapsing .navbar-nav,
  .cid-rGuQTaqLYd .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rGuQTaqLYd .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rGuQTaqLYd .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rGuQTaqLYd .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-rGuQTaqLYd .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-rGuQTaqLYd .navbar-collapse.collapsing .navbar-buttons,
  .cid-rGuQTaqLYd .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rGuQTaqLYd .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rGuQTaqLYd .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rGuQTaqLYd .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rGuQTaqLYd .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rGuQTaqLYd .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rGuQTaqLYd .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rGuQTaqLYd .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rGuQTaqLYd .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rGuQTaqLYd .nav-link:hover,
.cid-rGuQTaqLYd .dropdown-item:hover {
  color: #ffffff !important;
}
.cid-rGuQUNODs6 {
  padding-top: 120px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/mobile-apps-websites-promo3-2000x1414.png");
}
.cid-rGuQUNODs6 P {
  color: #767676;
}
.cid-rGuQUNODs6 H1 {
  text-align: left;
  color: #ffffff;
}
.cid-rGuQUNODs6 .mbr-text,
.cid-rGuQUNODs6 .mbr-section-btn {
  text-align: left;
  color: #ffffff;
}
.cid-rGuQUNODs6 H3 {
  text-align: left;
  color: #efefef;
}
.cid-rGuZlN6wVR {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #02031d;
}
.cid-rGuZlN6wVR .mbr-section-subtitle {
  color: #ffffff;
}
.cid-rGuZlN6wVR H2 {
  color: #ff3366;
}
.cid-rGuR9lBlZK {
  padding-top: 15px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/dotts-1917x500.png");
}
.cid-rGuR9lBlZK h3 {
  text-align: center;
  font-weight: 300;
}
.cid-rGuR9lBlZK .progress {
  width: 100%;
}
.cid-rGuR9lBlZK .title-wrap {
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.cid-rGuR9lBlZK progress {
  height: 8px;
}
.cid-rGuR9lBlZK .progressbar-number {
  display: inline-block;
}
.cid-rGuR9lBlZK .progress-primary {
  background: rgba(206, 206, 206, 0.4);
  border: none;
  outline: none;
}
.cid-rGuR9lBlZK .progress-primary::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-rGuR9lBlZK .mbr-section-subtitle {
  color: #767676;
  text-align: left;
}
.cid-rGuR9lBlZK .section-content-title {
  font-weight: 500;
  color: #ff3366;
}
.cid-rGuR9lBlZK .progress_value {
  position: relative;
}
.cid-rGuR9lBlZK .progress1 .progressbar-number:before,
.cid-rGuR9lBlZK .progress2 .progressbar-number:before,
.cid-rGuR9lBlZK .progress3 .progressbar-number:before,
.cid-rGuR9lBlZK .progress4 .progressbar-number:before,
.cid-rGuR9lBlZK .progress5 .progressbar-number:before {
  position: absolute;
  right: 15px;
  top: 0;
}
.cid-rGuR9lBlZK progress[value]::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-rGuR9lBlZK progress::-webkit-progress-value {
  background: #ff3366;
}
.cid-rGuR9lBlZK progress[value]::-moz-progress-bar {
  background: #ff3366;
}
.cid-rGuR9lBlZK progress::-ms-fill {
  background: #ff3366;
}
.cid-rGuR9lBlZK .progress1 .progressbar-number:before {
  content: '85';
}
.cid-rGuR9lBlZK .progress2 .progressbar-number:before {
  content: '95';
}
.cid-rGuR9lBlZK .progress3 .progressbar-number:before {
  content: '80';
}
.cid-rGuR9lBlZK .progress4 .progressbar-number:before {
  content: '70';
}
.cid-rGuR9lBlZK .progress5 .progressbar-number:before {
  content: '60';
}
@media (min-width: 768px) {
  .cid-rGuR9lBlZK .text-elements {
    padding-right: 3rem;
  }
  .cid-rGuR9lBlZK .progress_elements {
    padding-left: 3rem;
  }
}
.cid-rGuR9lBlZK .mbr-section-title {
  text-align: left;
}
.cid-rGuR9lBlZK .section-content-text {
  color: #02031d;
}
.cid-rGvhYOpEtk {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #02031d;
}
@media (max-width: 767px) {
  .cid-rGvhYOpEtk .content {
    text-align: center;
  }
  .cid-rGvhYOpEtk .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-rGvhYOpEtk .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-rGvhYOpEtk .media-wrap .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-rGvhYOpEtk .media-wrap img {
  height: 6rem;
}
@media (max-width: 767px) {
  .cid-rGvhYOpEtk .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-rGvhYOpEtk .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-rGvhYOpEtk .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rGvhYOpEtk .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-rGvhYOpEtk .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rGvhYOpEtk .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rGvhYOpEtk .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rGvhYOpEtk .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rGuQTaqLYd .navbar {
  background: #02031d;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-rGuQTaqLYd .navbar-dropdown.bg-color.transparent.opened {
  background: #02031d;
}
.cid-rGuQTaqLYd a {
  font-style: normal;
}
.cid-rGuQTaqLYd .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rGuQTaqLYd .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rGuQTaqLYd .nav-item:focus,
.cid-rGuQTaqLYd .nav-link:focus {
  outline: none;
}
.cid-rGuQTaqLYd .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rGuQTaqLYd .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rGuQTaqLYd .menu-logo {
  margin-right: auto;
}
.cid-rGuQTaqLYd .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rGuQTaqLYd .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rGuQTaqLYd .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rGuQTaqLYd .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rGuQTaqLYd .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rGuQTaqLYd .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rGuQTaqLYd .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rGuQTaqLYd .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rGuQTaqLYd .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rGuQTaqLYd .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rGuQTaqLYd .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rGuQTaqLYd .dropdown .dropdown-menu {
  background: #02031d;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rGuQTaqLYd .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rGuQTaqLYd .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rGuQTaqLYd .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rGuQTaqLYd .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rGuQTaqLYd .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rGuQTaqLYd .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rGuQTaqLYd .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rGuQTaqLYd .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rGuQTaqLYd .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rGuQTaqLYd .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rGuQTaqLYd .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rGuQTaqLYd button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rGuQTaqLYd button.navbar-toggler:focus {
  outline: none;
}
.cid-rGuQTaqLYd button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rGuQTaqLYd button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rGuQTaqLYd button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rGuQTaqLYd button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rGuQTaqLYd button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rGuQTaqLYd nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rGuQTaqLYd nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rGuQTaqLYd nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rGuQTaqLYd nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rGuQTaqLYd .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rGuQTaqLYd .collapsed .btn {
  display: -webkit-flex;
}
.cid-rGuQTaqLYd .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rGuQTaqLYd .collapsed .navbar-collapse.collapsing,
.cid-rGuQTaqLYd .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rGuQTaqLYd .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rGuQTaqLYd .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rGuQTaqLYd .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rGuQTaqLYd .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rGuQTaqLYd .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-rGuQTaqLYd .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-rGuQTaqLYd .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rGuQTaqLYd .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rGuQTaqLYd .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rGuQTaqLYd .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-rGuQTaqLYd .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-rGuQTaqLYd .collapsed button.navbar-toggler {
  display: block;
}
.cid-rGuQTaqLYd .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rGuQTaqLYd .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rGuQTaqLYd .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rGuQTaqLYd .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rGuQTaqLYd .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rGuQTaqLYd .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-rGuQTaqLYd.navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rGuQTaqLYd img {
    height: 3.8rem !important;
  }
  .cid-rGuQTaqLYd .btn {
    display: -webkit-flex;
  }
  .cid-rGuQTaqLYd button.navbar-toggler {
    display: block;
  }
  .cid-rGuQTaqLYd .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rGuQTaqLYd .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rGuQTaqLYd .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rGuQTaqLYd .navbar-collapse.collapsing,
  .cid-rGuQTaqLYd .navbar-collapse.show {
    display: block !important;
  }
  .cid-rGuQTaqLYd .navbar-collapse.collapsing .navbar-nav,
  .cid-rGuQTaqLYd .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rGuQTaqLYd .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rGuQTaqLYd .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rGuQTaqLYd .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-rGuQTaqLYd .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-rGuQTaqLYd .navbar-collapse.collapsing .navbar-buttons,
  .cid-rGuQTaqLYd .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rGuQTaqLYd .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rGuQTaqLYd .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rGuQTaqLYd .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rGuQTaqLYd .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rGuQTaqLYd .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rGuQTaqLYd .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rGuQTaqLYd .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rGuQTaqLYd .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rGuQTaqLYd .nav-link:hover,
.cid-rGuQTaqLYd .dropdown-item:hover {
  color: #ffffff !important;
}
.cid-rGyuHYXKwf {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url("../../../assets/images/untitled-design-2000x1414.png");
}
.cid-rGyuHYXKwf P {
  color: #767676;
}
.cid-rGyuHYXKwf H1 {
  text-align: left;
  color: #ffffff;
}
.cid-rGyuHYXKwf .mbr-text,
.cid-rGyuHYXKwf .mbr-section-btn {
  text-align: left;
  color: #efefef;
}
.cid-rGyyo3DlUu {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/dotts-1917x500.png");
}
.cid-rGyyo3DlUu P {
  color: #767676;
}
.cid-rGyyo3DlUu .mbr-text,
.cid-rGyyo3DlUu .mbr-section-btn {
  text-align: left;
  color: #02031d;
}
.cid-rGyyo3DlUu H1 {
  text-align: left;
  color: #ff3366;
}
.cid-rGyKldDZBi {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #02031d;
}
@media (max-width: 767px) {
  .cid-rGyKldDZBi .content {
    text-align: center;
  }
  .cid-rGyKldDZBi .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-rGyKldDZBi .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-rGyKldDZBi .media-wrap .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-rGyKldDZBi .media-wrap img {
  height: 6rem;
}
@media (max-width: 767px) {
  .cid-rGyKldDZBi .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-rGyKldDZBi .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-rGyKldDZBi .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rGyKldDZBi .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-rGyKldDZBi .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rGyKldDZBi .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rGyKldDZBi .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rGyKldDZBi .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rGuQTaqLYd .navbar {
  background: #02031d;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-rGuQTaqLYd .navbar-dropdown.bg-color.transparent.opened {
  background: #02031d;
}
.cid-rGuQTaqLYd a {
  font-style: normal;
}
.cid-rGuQTaqLYd .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rGuQTaqLYd .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rGuQTaqLYd .nav-item:focus,
.cid-rGuQTaqLYd .nav-link:focus {
  outline: none;
}
.cid-rGuQTaqLYd .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rGuQTaqLYd .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rGuQTaqLYd .menu-logo {
  margin-right: auto;
}
.cid-rGuQTaqLYd .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rGuQTaqLYd .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rGuQTaqLYd .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rGuQTaqLYd .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rGuQTaqLYd .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rGuQTaqLYd .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rGuQTaqLYd .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rGuQTaqLYd .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rGuQTaqLYd .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rGuQTaqLYd .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rGuQTaqLYd .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rGuQTaqLYd .dropdown .dropdown-menu {
  background: #02031d;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rGuQTaqLYd .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rGuQTaqLYd .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rGuQTaqLYd .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rGuQTaqLYd .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rGuQTaqLYd .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rGuQTaqLYd .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rGuQTaqLYd .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rGuQTaqLYd .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rGuQTaqLYd .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rGuQTaqLYd .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rGuQTaqLYd .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rGuQTaqLYd button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rGuQTaqLYd button.navbar-toggler:focus {
  outline: none;
}
.cid-rGuQTaqLYd button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rGuQTaqLYd button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rGuQTaqLYd button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rGuQTaqLYd button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rGuQTaqLYd button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rGuQTaqLYd nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rGuQTaqLYd nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rGuQTaqLYd nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rGuQTaqLYd nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rGuQTaqLYd .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rGuQTaqLYd .collapsed .btn {
  display: -webkit-flex;
}
.cid-rGuQTaqLYd .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rGuQTaqLYd .collapsed .navbar-collapse.collapsing,
.cid-rGuQTaqLYd .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rGuQTaqLYd .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rGuQTaqLYd .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rGuQTaqLYd .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rGuQTaqLYd .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rGuQTaqLYd .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-rGuQTaqLYd .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-rGuQTaqLYd .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rGuQTaqLYd .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rGuQTaqLYd .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rGuQTaqLYd .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-rGuQTaqLYd .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-rGuQTaqLYd .collapsed button.navbar-toggler {
  display: block;
}
.cid-rGuQTaqLYd .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rGuQTaqLYd .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rGuQTaqLYd .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rGuQTaqLYd .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rGuQTaqLYd .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rGuQTaqLYd .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-rGuQTaqLYd.navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rGuQTaqLYd img {
    height: 3.8rem !important;
  }
  .cid-rGuQTaqLYd .btn {
    display: -webkit-flex;
  }
  .cid-rGuQTaqLYd button.navbar-toggler {
    display: block;
  }
  .cid-rGuQTaqLYd .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rGuQTaqLYd .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rGuQTaqLYd .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rGuQTaqLYd .navbar-collapse.collapsing,
  .cid-rGuQTaqLYd .navbar-collapse.show {
    display: block !important;
  }
  .cid-rGuQTaqLYd .navbar-collapse.collapsing .navbar-nav,
  .cid-rGuQTaqLYd .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rGuQTaqLYd .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rGuQTaqLYd .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rGuQTaqLYd .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-rGuQTaqLYd .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-rGuQTaqLYd .navbar-collapse.collapsing .navbar-buttons,
  .cid-rGuQTaqLYd .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rGuQTaqLYd .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rGuQTaqLYd .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rGuQTaqLYd .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rGuQTaqLYd .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rGuQTaqLYd .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rGuQTaqLYd .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rGuQTaqLYd .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rGuQTaqLYd .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rGuQTaqLYd .nav-link:hover,
.cid-rGuQTaqLYd .dropdown-item:hover {
  color: #ffffff !important;
}
.cid-rGzzqMNocM {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url("../../../assets/images/untitled-design-2000x1414.png");
}
.cid-rGzzqMNocM P {
  color: #767676;
}
.cid-rGzzqMNocM H1 {
  text-align: left;
  color: #ffffff;
}
.cid-rGzzqMNocM .mbr-text,
.cid-rGzzqMNocM .mbr-section-btn {
  text-align: left;
  color: #ffffff;
}
.cid-rGBegsLSIT {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/dotts-1917x500.png");
}
.cid-rGBegsLSIT P {
  color: #767676;
}
.cid-rGBegsLSIT H1 {
  text-align: left;
}
.cid-rGBegsLSIT H3 {
  text-align: left;
  color: #02031d;
}
.cid-rGBegsLSIT .mbr-text,
.cid-rGBegsLSIT .mbr-section-btn {
  color: #ff3366;
  text-align: left;
}
.cid-rGBfaRNq4E {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/dotts-1917x500.png");
}
.cid-rGBfaRNq4E P {
  color: #767676;
}
.cid-rGBfaRNq4E H1 {
  text-align: left;
}
.cid-rGBfaRNq4E H3 {
  text-align: left;
  color: #02031d;
}
.cid-rGBfaRNq4E .mbr-text,
.cid-rGBfaRNq4E .mbr-section-btn {
  color: #ff3366;
  text-align: left;
}
.cid-rGzzCPpWY7 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #02031d;
}
@media (max-width: 767px) {
  .cid-rGzzCPpWY7 .content {
    text-align: center;
  }
  .cid-rGzzCPpWY7 .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-rGzzCPpWY7 .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-rGzzCPpWY7 .media-wrap .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-rGzzCPpWY7 .media-wrap img {
  height: 6rem;
}
@media (max-width: 767px) {
  .cid-rGzzCPpWY7 .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-rGzzCPpWY7 .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-rGzzCPpWY7 .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rGzzCPpWY7 .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-rGzzCPpWY7 .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rGzzCPpWY7 .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rGzzCPpWY7 .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rGzzCPpWY7 .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rGuQTaqLYd .navbar {
  background: #02031d;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-rGuQTaqLYd .navbar-dropdown.bg-color.transparent.opened {
  background: #02031d;
}
.cid-rGuQTaqLYd a {
  font-style: normal;
}
.cid-rGuQTaqLYd .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rGuQTaqLYd .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rGuQTaqLYd .nav-item:focus,
.cid-rGuQTaqLYd .nav-link:focus {
  outline: none;
}
.cid-rGuQTaqLYd .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rGuQTaqLYd .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rGuQTaqLYd .menu-logo {
  margin-right: auto;
}
.cid-rGuQTaqLYd .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rGuQTaqLYd .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rGuQTaqLYd .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rGuQTaqLYd .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rGuQTaqLYd .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rGuQTaqLYd .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rGuQTaqLYd .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rGuQTaqLYd .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rGuQTaqLYd .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rGuQTaqLYd .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rGuQTaqLYd .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rGuQTaqLYd .dropdown .dropdown-menu {
  background: #02031d;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rGuQTaqLYd .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rGuQTaqLYd .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rGuQTaqLYd .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rGuQTaqLYd .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rGuQTaqLYd .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rGuQTaqLYd .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rGuQTaqLYd .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rGuQTaqLYd .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rGuQTaqLYd .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rGuQTaqLYd .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rGuQTaqLYd .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rGuQTaqLYd button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rGuQTaqLYd button.navbar-toggler:focus {
  outline: none;
}
.cid-rGuQTaqLYd button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rGuQTaqLYd button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rGuQTaqLYd button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rGuQTaqLYd button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rGuQTaqLYd button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rGuQTaqLYd nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rGuQTaqLYd nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rGuQTaqLYd nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rGuQTaqLYd nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rGuQTaqLYd .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rGuQTaqLYd .collapsed .btn {
  display: -webkit-flex;
}
.cid-rGuQTaqLYd .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rGuQTaqLYd .collapsed .navbar-collapse.collapsing,
.cid-rGuQTaqLYd .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rGuQTaqLYd .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rGuQTaqLYd .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rGuQTaqLYd .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rGuQTaqLYd .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rGuQTaqLYd .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-rGuQTaqLYd .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-rGuQTaqLYd .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rGuQTaqLYd .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rGuQTaqLYd .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rGuQTaqLYd .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-rGuQTaqLYd .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-rGuQTaqLYd .collapsed button.navbar-toggler {
  display: block;
}
.cid-rGuQTaqLYd .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rGuQTaqLYd .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rGuQTaqLYd .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rGuQTaqLYd .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rGuQTaqLYd .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rGuQTaqLYd .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-rGuQTaqLYd.navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rGuQTaqLYd img {
    height: 3.8rem !important;
  }
  .cid-rGuQTaqLYd .btn {
    display: -webkit-flex;
  }
  .cid-rGuQTaqLYd button.navbar-toggler {
    display: block;
  }
  .cid-rGuQTaqLYd .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rGuQTaqLYd .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rGuQTaqLYd .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rGuQTaqLYd .navbar-collapse.collapsing,
  .cid-rGuQTaqLYd .navbar-collapse.show {
    display: block !important;
  }
  .cid-rGuQTaqLYd .navbar-collapse.collapsing .navbar-nav,
  .cid-rGuQTaqLYd .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rGuQTaqLYd .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rGuQTaqLYd .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rGuQTaqLYd .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-rGuQTaqLYd .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-rGuQTaqLYd .navbar-collapse.collapsing .navbar-buttons,
  .cid-rGuQTaqLYd .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rGuQTaqLYd .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rGuQTaqLYd .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rGuQTaqLYd .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rGuQTaqLYd .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rGuQTaqLYd .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rGuQTaqLYd .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rGuQTaqLYd .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rGuQTaqLYd .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rGuQTaqLYd .nav-link:hover,
.cid-rGuQTaqLYd .dropdown-item:hover {
  color: #ffffff !important;
}
.cid-rGByDTPNmk {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/apple-apple-magic-keyboard-coffee-225502-2000x1292.jpg");
}
.cid-rGByDTPNmk .mbr-iconfont {
  font-size: 48px;
  padding-right: 1rem;
}
.cid-rGByDTPNmk .icon-block {
  margin-bottom: 10px;
}
.cid-rGByDTPNmk .icon-block .icon-block__icon {
  display: inline-block;
  vertical-align: middle;
}
.cid-rGByDTPNmk .icon-block .icon-block__title {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  line-height: 1;
  font-style: italic;
}
.cid-rGByDTPNmk .mbr-text {
  color: #ffffff;
}
.cid-rGByDTPNmk textarea.form-control {
  min-height: 100px;
}
.cid-rGByDTPNmk a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-rGByDTPNmk .google-map {
  height: 25rem;
  position: relative;
}
.cid-rGByDTPNmk .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-rGByDTPNmk .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-rGByDTPNmk .google-map[data-state] {
  background: #e9e5dc;
}
.cid-rGByDTPNmk .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
@media (max-width: 767px) {
  .cid-rGByDTPNmk h2 {
    padding-top: 2rem;
  }
}
@media (min-width: 768px) {
  .cid-rGByDTPNmk .container > .row > .col-md-6:first-child {
    padding-right: 30px;
  }
  .cid-rGByDTPNmk .container > .row > .col-md-6:last-child {
    padding-left: 30px;
  }
}
.cid-rGByDTPNmk H2 {
  color: #ffffff;
}
.cid-rGByDTPNmk .icon-block,
.cid-rGByDTPNmk .icon-block .icon-block__title {
  color: #ffffff;
}
.cid-rGByDTPNmk H5 {
  color: #ffffff;
}
.cid-rGBzijVgqa {
  padding-top: 60px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/dotts-1917x500.png");
}
.cid-rGBzijVgqa .mbr-section-subtitle {
  color: #ff3366;
}
.cid-rGBzijVgqa .formoid {
  margin: auto;
}
.cid-rGBzijVgqa .form-control {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.cid-rGBzijVgqa .input-group-btn .btn {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 !important;
}
.cid-rGBzijVgqa a:not([href]):not([tabindex]) {
  color: #fff;
}
.cid-rGBzijVgqa a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
@media (max-width: 768px) {
  .cid-rGBzijVgqa .mbr-form .row {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-rGBzijVgqa .form-group,
  .cid-rGBzijVgqa .input-group-btn,
  .cid-rGBzijVgqa .input-group-btn .btn {
    max-width: 300px;
    width: 100%;
  }
}
@media (min-width: 769px) {
  .cid-rGBzijVgqa .mbr-form .row > * {
    padding: 0 0.5rem;
  }
}
.cid-rGBzijVgqa H2 {
  color: #02031d;
}
.cid-rGBzlgnHvL {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #02031d;
}
@media (max-width: 767px) {
  .cid-rGBzlgnHvL .content {
    text-align: center;
  }
  .cid-rGBzlgnHvL .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-rGBzlgnHvL .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-rGBzlgnHvL .media-wrap .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-rGBzlgnHvL .media-wrap img {
  height: 6rem;
}
@media (max-width: 767px) {
  .cid-rGBzlgnHvL .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-rGBzlgnHvL .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-rGBzlgnHvL .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rGBzlgnHvL .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-rGBzlgnHvL .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rGBzlgnHvL .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rGBzlgnHvL .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rGBzlgnHvL .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
