// Font
@font-face {
    font-family: 'Cerebri Sans';
    src: url(../fonts/cerebrisans-regular.eot) format("embedded-opentype"), url("../fonts/cerebrisans-regular.ttf") format("truetype");
}
  
@font-face {
    font-family: 'Cerebri Sans';
    font-weight: bold;
    src: url("../fonts/cerebrisans-semibold.ttf") format("truetype");
}

// Base Styles
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
  
body {
   font-family: 'cerebri sans';
    line-height: 1;
    font-size: 1.2rem;
    overflow-x: hidden;
}
.navbar{
    padding: 0 3rem;
}

#navbarSupportedContent{
    transition: none;
    height: 100vh;
    // background: #fff;
    // background: url(../../images/dotts-1917x500.png);
}

.menu-split{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem 6rem 0 6rem;
}

.menu-nav{
    li{
        list-style: none;
        padding: .5rem 0
    }
    a{
        font-size: 2.5rem;
        font-weight: bolder;
        color: #fff;
        &:hover{
            color: #ff3366;
            transition: all .3s ease-in-out;
        }
    }
}

.site-info{
    padding-top: 3rem;
    color: #fff;
    h3{
        font-weight: bolder;
        font-size: 2rem;
        color: #ff3366;
    }
    h6{
        padding: .5rem 0;
    }
}

.details{
    p{
        color: #fff;
        line-height: 2;
    }
}

.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    .img{
        img{
            width: 100%;
            border-radius: 10px;
        }
    }
}
// Menu Media Query
@media only screen and (max-width: 800px) {
    #navbarSupportedContent{
        transition: none;
        height: 150vh;
    }
    .menu-split{
        display: grid;
        grid-template-columns: 1fr;
        // padding: 3rem 1rem 0 2rem;
        padding: 2rem 0;
    }
    .menu-nav{
        // padding: 0;
        a{
            font-size: 1.8rem;
        } 
    }
    .site-info{
        padding-top: 1rem;
        h3{
            font-size: 1.2rem;
        }
    }
    .details{
        display: none;
    }
    .gallery{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;

        .img{
            img{
                border-radius: 5px;
            }
        }
    }
}