@font-face {
   font-family: 'cerebrisans-semibold';
   font-display: swap;
   src: url('file:///C:/Users/STIB/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-10-31_173415/fonts/cerebrisans-semibold/font.ttf');
}
